body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f0f0f0;
}

.card {
    background: white;
    margin: 20px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
}